
/* --- images gallery --- */
img{
    padding: 50px;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background: linear-gradient(pink, rgb(121, 177, 238));
    max-width: 100%; 
    height: auto;
    align-items: center;
}